<h1 class="title">Library</h1>
<div class="cards">
<% if @library_games.exists? %>
<% @library_games.each do |library_game| %>
<% game = library_game.to_giant_bomb_game %>
<div class="wrapper">
    <div class="product-img">
      <%= image_tag game.image['medium_url'], class: "cover"%>
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1><%= game.name %></h1>
        <% if game.platforms === nil %>
    <h2>Platform Unknown (<%= game.original_release_date.to_s[0..3] %>)</h2>
    <% else %>
    <h2><%= game.platforms[0]['name'] %> (<%= game.original_release_date.to_s[0..3] %>)</h2>
    <% end %>
        <p><%= game.deck %> </p>
      </div>
      <div class="product-price-btn">
           <%= link_to '<button type="button">Remove from library</button>'.html_safe, user_game_path(library_game.id), method: :delete %>

      </div>
    </div>
  </div>

  <% end %>
  </div>

<% else %>
  <div class="container">
    <div class="message-body">You haven't added any games to your library yet. <%= link_to 'Add some', root_path %>.</div>
  </div>
  <% end %>
</div>
