
<%= form_tag index_path, method: :get do %>

  <%= text_field_tag [:query],
  params[:query],
  class: "form-control col-md-6",
    id: "typed-text" %>

    <div class="input-group-btn ml-3">
      <%= submit_tag "Search", class: "btn btn-primary", id: "button-addon2" %>
    </div>
    <% end %>



<div class="cards">
  <% @games.each do |game| %>
  <div class="wrapper">
    <div class="product-img">
  <%= image_tag game['image']['medium_url'], class: "cover"%>
    </div>
  <div class="product-info">
      <div class="product-text">
    <h1><%= game['name'] %></h1>
    <% if game['platforms'] === nil %>
    <h2>Platform Unknown (<%= game['original_release_date'].to_s[0..3] %>)</h2>
    <% else %>
    <h2><%= game['platforms'][0]['name'] %> (<%= game['original_release_date'].to_s[0..3] %>)</h2>
    <% end %>
    <p><%= game['deck'] %></p>
    </div>

    <div class="product-price-btn">

       <button type="button"> <%= link_to 'Add to library', create_path(current_user, game_id: game['id']), method: :post %> </button>

      </div>
    </div>
  </div>

  <% end %>
  </div>
