<div class="container">
  <div class="row">
    <div class="mt-3 mb-3">
      <%= form_tag index_path, method: :get do %>
      <%= text_field_tag [:query],
      params[:query],
      class: "form-control",
        id: "typed-text" %>
      </div>
      <div class="input-group-btn mt-3 mb-3">
        <%= submit_tag "Search", class: "btn goldbutton_search" %>
      </div>
      <% end %>
  </div>
</div>
<div class="cards">
  <% @games.each do |game| %>
  <div class="wrapper">
    <div class="product-img">
  <%= image_tag game['image']['medium_url'], class: "cover"%>
    </div>
  <div class="product-info">
      <div class="product-text">
    <h1><%= game['name'] %></h1>
    <% if game['platforms'] === nil %>
    <h2>Platform Unknown (<%= game['original_release_date'].to_s[0..3] %>)</h2>
    <% else %>
    <h2><%= game['platforms'][0]['name'] %> (<%= game['original_release_date'].to_s[0..3] %>)</h2>
    <% end %>
    <p><%= game['deck'] %></p>
    </div>

    <div class="product-price-btn">

       <%= link_to '<button type="button">Add to library</button>'.html_safe, create_path(current_user, game_id: game['id']), method: :post %>

      </div>
    </div>
  </div>

  <% end %>
  </div>
